nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  h2 {
    margin: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-left: 20px; /* Espacio entre los elementos */
  }
  
  ul li a {
    text-decoration: none;
    color: inherit;
  }
  